<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow text-center">
                <p class="fs-3 text-primary-color mb-4">Are you sure you want to delete this member?</p>

                <div class="alert alert-warning text-start" role="alert">
                    <strong>Warning!</strong> This action cannot be undone. All member data will be permanently deleted.
                </div>

                <form asp-action="DeleteConfirmed" method="post" asp-route-Id ="@Context.Request.RouteValues["Id"]" class="mt-4">
                    <div class="buttons d-flex justify-content-between gap-3">
                        <a asp-controller="Members" asp-action="Index" class="btn-outline flex-fill">NO</a>
                        <button type="submit" class="btn-fill flex-fill">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>